{% extends 'trabalhos/base.html' %}

{% block title %}Regulamento{% endblock %}

{% block page_header %}
<div class="page-header">
    <div class="container">
        <h1>Regulamento</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    
  <!-- Apresentação -->

  <h2 class="mt-4">Apresentação</h2>
  <p>
    O Rio Grande do Sul vive um momento de reconstrução, adaptada e resiliente. As enchentes de 2024 e
    as secas consecutivas ensinaram que a natureza é soberana e que medidas imediatas no presente são
    necessárias para a manutenção da vida.
  </p>
  <p>
    A Secretaria do Meio Ambiente e Infraestrutura do Estado do Rio Grande do Sul (Sema) e a Fundação
    Estadual de Proteção Ambiental (Fepam), órgãos ambientais do Governo do Estado, acreditam que
    reconstruir um Rio Grande do Sul mais forte para os gaúchos exige a união de todos.
  </p>
  <p>
    Um dos pilares para a reconstrução de um novo Rio Grande tem como base a educação ambiental e o
    conhecimento. A imprensa tradicional está inserida no processo, informando a população com apuração
    e imparcialidade.
  </p>
  <p>
    Dessa forma, o Prêmio Sema-Fepam de Jornalismo Ambiental chega à terceira edição em 2025 com o tema
    <strong>Construindo juntos um futuro mais forte para o RS</strong>.
  </p>
  <p>
    A iniciativa pretende incentivar a produção jornalística e prestigiar trabalhos veiculados que
    retratem as ações que tenham conexão com o meio ambiente, mudanças climáticas, uso consciente dos
    recursos naturais, energias limpas, entre outros.
  </p>
  <p>
    Por meio do conhecimento, será possível alcançarmos a adaptação, a resiliência e a mitigação,
    superando os desafios impostos pelos efeitos das mudanças climáticas.
  </p>

  <!-- 1. Categorias -->

  <h2 class="mt-4">1. Categorias</h2>
  <p>Para efeito de julgamento e premiação, os profissionais de comunicação poderão inscrever seus trabalhos nas seguintes categorias:</p>
  <ol>
    <li>Jornalismo impresso;</li>
    <li>Webjornalismo;</li>
    <li>Fotojornalismo;</li>
    <li>Radiojornalismo/Podcast;</li>
    <li>Telejornalismo;</li>
    <li>Jornalismo universitário.</li>
  </ol>

  <!-- 2. Tema -->

  <h2 class="mt-4">2. Tema</h2>
  <p><strong>Construindo juntos um futuro mais forte para o RS</strong></p>

  <!-- 3. Microtemas -->

  <h2 class="mt-4">3. Microtemas</h2>
  <ul>
    <li>Meio ambiente e desenvolvimento sustentável em sala de aula;</li>
    <li>União de todos para o enfrentamento das mudanças climáticas;</li>
    <li>Mitigação no campo e as boas práticas já implementadas;</li>
    <li>Uso consciente dos recursos hídricos no enfrentamento da estiagem;</li>
    <li>Energias limpas e renováveis para o desenvolvimento sustentável;</li>
    <li>Ações de resiliência para um RS mais forte;</li>
    <li>Soluções baseadas na natureza para promover a qualidade de vida da população;</li>
    <li>Recursos naturais do RS como potencial para o desenvolvimento econômico sustentável;</li>
    <li>Nova vida: como estão os animais resgatados da enchente.</li>
  </ul>

  <!-- 4. Quem pode se inscrever -->

  <h2 class="mt-4">4. Quem pode se inscrever</h2>
  <ol>
    <li>
      Profissionais de imprensa registrados no Ministério do Trabalho, autores de reportagem veiculada
      entre 1º de janeiro de 2024 a 30 de agosto de 2025 em veículo de imprensa com sede no Estado
      do Rio Grande do Sul.
    </li>
    <li>
      Estudantes de Jornalismo, com matrícula ativa em universidade ou faculdade que tenham realizado
      trabalho universitário que se enquadre em uma das categorias do prêmio, com veiculação/publicação
      em canais oficiais da universidade e/ou do curso de Jornalismo entre 1º de janeiro de 2024 a 30
      de agosto de 2025.
    </li>
    <li>
      Observação: Não poderão se inscrever profissionais de comunicação com vínculo empregatício em
      administração direta ou indireta do Estado do Rio Grande do Sul ou membros da Comissão Julgadora.
    </li>
  </ol>

  <!-- 5. Inscrições -->

  <h2 class="mt-4">5. Inscrições</h2>
  <p>5.1 Período de inscrição: 05 de junho de 2025 a 31 de agosto de 2025.</p>
  <p>
    5.2 Reportagens publicadas ou veiculadas entre: 1º de janeiro de 2024 a 30 de agosto de 2025.
    Serão colocados em julgamento apenas os trabalhos em língua portuguesa e publicados em veículos
    profissionais de comunicação com sede no Estado do Rio Grande do Sul – Brasil;
  </p>
  <p>
    5.3 As inscrições deverão ser feitas exclusivamente via formulário pelo site
    <a href="http://www.sema.rs.gov.br/premiojornalismoambiental" target="_blank">
      www.sema.rs.gov.br/premiojornalismoambiental
    </a>, anexando documento de identidade com foto, diploma de nível superior ou comprovante
    de matrícula na universidade, no caso de inscrição na categoria Jornalismo Universitário.
  </p>
  <p>5.4 Os arquivos deverão ser anexados no formulário de inscrição nos seguintes formatos:</p>
  <ul>
    <li>
      <strong>Impresso:</strong> Inserir o PDF do arquivo da matéria publicada em veículo impresso e link,
      caso houver. (é necessário que o arquivo tenha o nome do autor, do veículo de comunicação e a data
      de veiculação). O link deverá estar ativo durante todo o período de julgamento.
    </li>
    <li>
      <strong>Web ou fotojornalismo:</strong> Inserir o arquivo em PDF e o link onde a matéria foi
      veiculada (é necessário que o arquivo tenha o nome do autor, do veículo e a data de veiculação).
      No caso de fotografia, a imagem inscrita deverá conter um breve histórico do fato registrado. O link
      deverá estar ativo durante todo o período de julgamento.
    </li>
    <li>
      <strong>Audiovisual:</strong> O candidato deverá incluir no formulário de inscrição o link da plataforma
      (do veículo ou pessoal) onde o material está hospedado. O link deverá estar ativo durante todo o
      período de julgamento.
    </li>
  </ul>
  <p>
    5.5 O sistema do site não aceitará inscrições sem a ficha cadastral totalmente preenchida;
  </p>
  <p>
    5.6 As inscrições serão encerradas, impreterivelmente, no dia 31 de agosto de 2025, às 23h59
    (horário de Brasília);
  </p>
  <p>
    5.7 Cada jornalista poderá inscrever, no máximo, três (3) trabalhos diferentes em uma ou mais
    categorias, utilizando formulários diferentes de inscrição.
  </p>
  <p>
    5.8 Em caso de trabalho sem crédito, ou assinado com pseudônimo, a autoria deverá ser atestada
    pela direção ou chefias da publicação em declaração anexada à ficha de inscrição. Da mesma forma,
    as fotografias publicadas sem o devido crédito deverão ter a autoria atestada pelos veículos
    correspondentes;
  </p>
  <p>
    5.9 Não poderão existir diferenças entre o trabalho publicado/veiculado e o inscrito;
  </p>
  <p>
    5.10 Só serão considerados os trabalhos fotográficos que contenham elementos de informação
    jornalística. A imagem inscrita deverá conter um breve histórico do fato registrado. Não serão
    considerados ensaios fotográficos, trabalhos de importância artística, ou ainda fotos que não tenham
    sido publicadas.
  </p>

  <!-- 6. Proteção de dados e política de privacidade -->

  <h2 class="mt-4">6. Proteção de dados e política de privacidade</h2>
  <ol>
    <li>
      Nos termos da Lei 13.709/2018 – LGPD (Lei Geral de Proteção de Dados Pessoais), os dados
      coletados dos inscritos foram devidamente consentidos pelos mesmos quando do preenchimento
      do formulário de inscrição;
    </li>
    <li>
      Os dados pessoais coletados dos inscritos serão resguardados pela equipe organizadora do prêmio
      e não serão fornecidos/compartilhados com outras empresas ou instituições;
    </li>
    <li>
      Qualquer ocorrência oriunda deste regulamento relacionada especificamente à LGPD (Lei nº. 13.709/2018)
      poderá ser encaminhada pelos canais oficiais da secretaria para providências e medidas necessárias.
    </li>
  </ol>

  <!-- 7. Responsabilidade pelo conteúdo -->

  <h2 class="mt-4">7. Responsabilidade pelo conteúdo</h2>
  <ol>
    <li>
      Caberá exclusivamente ao autor do trabalho inscrito a responsabilidade decorrente do seu conteúdo,
      nos termos do Código de Ética do Jornalista;
    </li>
    <li>
      Ao inscrever uma matéria, o autor automaticamente se responsabiliza pela sua autoria e
      originalidade, bem como pela veracidade de todas as informações fornecidas no ato da inscrição,
      isentando, dessa forma, o Governo do RS, Sema e Fepam de qualquer responsabilidade oriunda
      do material inscrito.
    </li>
  </ol>

  <!-- 8. Isenção de responsabilidade por falha de conexão -->

  <h2 class="mt-4">8. Isenção de responsabilidade por falha de conexão</h2>
  <p>
    8.1 O Estado do Rio Grande do Sul, a Secretaria do Meio Ambiente e Infraestrutura e a Fepam não
    se responsabilizam por eventuais intercorrências no processo de inscrição, bem como por qualquer
    falha de conexão ou perda de dados decorrentes do acesso à internet, nem por informações
    cadastradas de forma errônea, tanto em relação ao conteúdo, quanto à autoria, sendo todo este
    processo, única e exclusivamente, de responsabilidade do participante.
  </p>

  <!-- 9. Julgamento -->

  <h2 class="mt-4">9. Julgamento</h2>
  <ol>
    <li>
      A Comissão Julgadora será composta por profissionais com ampla experiência em Comunicação
      Social e técnicos especialistas nas áreas dos microtemas correspondentes, sem bônus;
    </li>
    <li>
      Serão impedidos de avaliar os trabalhos inscritos os integrantes da comissão julgadora cuja atuação
      no processo de avaliação configure conflito de interesse;
    </li>
    <li>
      O processo de julgamento poderá ocorrer de forma presencial, em sala disponibilizada pelos
      organizadores, ou por meio de plataformas digitais;
    </li>
    <li>
      O julgamento ocorrerá no período de 04 de setembro a 26 de setembro de 2025;
    </li>
    <li>
      Os jurados deverão avaliar os trabalhos de acordo com os parâmetros descritos neste regulamento,
      dando notas de 1 a 7 para cada inscrição válida, sendo que 1 representa a nota mínima e 7, a máxima.
    </li>
    <li>
      Serão analisados os seguintes critérios, de pesos diferentes:
      <ul>
        <li>a) Capacidade de sensibilização e reflexão sobre o tema. (Peso: 5; Nota: de 1 a 7)</li>
        <li>b) Relação da pauta com o tema e microtemas propostos. (Peso: 4; Nota: de 1 a 7)</li>
        <li>c) Qualidade das informações técnicas que sustentam o conteúdo jornalístico. (Peso: 3; Nota: de 1 a 7)</li>
        <li>d) Originalidade no desenvolvimento da pauta. (Peso: 2; Nota: de 1 a 7)</li>
        <li>e) Qualidade da apresentação do conteúdo. (Peso: 1; Nota: de 1 a 7)</li>
      </ul>
    </li>
    <li>
      Serão considerados vencedores os trabalhos que obtiverem as maiores notas;
    </li>
    <li>
      No caso de empate entre os finalistas com maiores notas, o critério utilizado no desempate será
      a nota obtida no quesito de maior peso. Caso o empate persista, a banca julgadora deverá se
      reunir de forma virtual para, dessa forma, entrar em consenso com relação às notas.
    </li>
    <li>
      Dos atos praticados por quaisquer das comissões de apoio ao concurso, nos termos desse documento,
      serão admitidos recursos, no prazo de até 05 (cinco) dias úteis, contados da divulgação final do
      resultado do concurso, cabendo à Secretaria de Planejamento, Governança e Gestão a decisão final
      em nível administrativo sobre os recursos.
    </li>
    <li>
      A banca julgadora terá como princípio a imparcialidade. Questões partidárias, regionais ou
      ideológicas não deverão fazer parte dos critérios de julgamento.
    </li>
  </ol>

  <!-- 11. Premiação -->

  <h2 class="mt-4">11. Premiação</h2>
  <ol>
    <li>Grande vencedor: R$ 8.000,00</li>
    <li>Troféu Roessler (1º lugar de cada categoria): R$ 6.000,00</li>
    <li>Troféu Lutzenberger (2º lugar de cada categoria): R$ 4.000,00</li>
    <li>Troféu Magda Renner (3º lugar de cada categoria): R$ 2.000,00</li>
    <li>
      Jornalismo Universitário:
      <ol type="a">
        <li>1º lugar: R$ 700,00</li>
        <li>2º lugar: R$ 600,00</li>
        <li>3º lugar: R$ 500,00</li>
        <li>
          A cerimônia de entrega do Prêmio ocorrerá em outubro de 2025, em Porto Alegre, em dia,
          endereço, horário e formato a serem definidos e informados pela organização;
        </li>
        <li>
          Os vencedores receberão a premiação por meio de depósito bancário diretamente na conta
          informada no formulário de inscrição;
        </li>
        <li>
          Os prêmios serão individuais e atribuídos, em cada um dos casos, a um único profissional.
        </li>
      </ol>
    </li>
  </ol>

  <!-- 12. Cronograma -->

  <h2 class="mt-4">12. Cronograma</h2>
  <ol>
    <li>Publicação/veiculação das matérias a serem inscritas: 1º de janeiro de 2024 a 30 de agosto de 2025;</li>
    <li>Período de inscrição: 05 de junho de 2025 a 31 de agosto de 2025;</li>
    <li>Divulgação da banca julgadora: 1º de agosto de 2025;</li>
    <li>Período de julgamento: 04 de setembro a 26 de setembro de 2025;</li>
    <li>Dia de divulgação dos finalistas no site do prêmio: 1º de outubro de 2025;</li>
    <li>Premiação: outubro de 2025.</li>
  </ol>

  <!-- 13. Informações complementares -->

  <h2 class="mt-4">13. Informações complementares</h2>
  <ol>
    <li>
      O Governo do Rio Grande do Sul, a Secretaria do Meio Ambiente e Infraestrutura e a Fundação
      Estadual de Proteção Ambiental têm direito a ampla utilização e reprodução de todo o material
      inscrito no Prêmio Sema-Fepam de Jornalismo Ambiental 2025, podendo ser integral ou
      parcialmente reproduzidos, em qualquer um dos canais de comunicação, bem como em eventos,
      campanhas ou peças publicitárias.
    </li>
    <li>
      Qualquer situação não abrangida pelo presente regulamento será analisada pela organização
      do Prêmio Sema-Fepam de Jornalismo Ambiental 2025;
    </li>
    <li>
      Fica eleito o foro da cidade de Porto Alegre – RS como o competente para sanar qualquer dúvida
      ou questão judicial decorrente do presente Prêmio.
    </li>
  </ol>

  <!-- 14. Telefones de contato -->

  <h2 class="mt-4">14. Telefones de contato</h2>
  <ul>
    <li>(51) 3288 7400 (Gabinete Sema)</li>
    <li>(51) 3288 7411 (Assessoria de Comunicação Sema/Fepam)</li>
  </ul>

  <!-- TERMO DE CONSENTIMENTO PARA TRATAMENTO DE DADOS PESSOAIS -->

  <h2 class="mt-4">Termo de Consentimento para Tratamento de Dados Pessoais</h2>
  <p>
    Ao realizar minha inscrição no Prêmio Sema-Fepam de Jornalismo Ambiental 2025 autorizo,
    expressamente, o Governo do Estado do RS, a Secretaria do Meio Ambiente e Infraestrutura do
    Estado (Sema) e a Fundação Estadual de Proteção Ambiental (Fepam), doravante denominadas
    CONTROLADORAS, que, nos termos dos arts. 7º e 11 da Lei 13.709/2018, tratem os meus dados
    pessoais para fins de inscrição, realização e divulgação do Concurso, podendo compartilhá-los
    com outros órgãos da administração pública estadual, bem como para o cumprimento de
    determinações legais ou impostas por órgãos de fiscalização.
  </p>
  <p>
    As CONTROLADORAS se responsabilizam por manter medidas de segurança técnicas e administrativas
    suficientes a proteger os dados pessoais colhidos, comunicando ao INSCRITO, caso aconteça
    qualquer incidente de segurança que possa acarretar risco ou dano relevante, conforme o artigo 48
    da Lei 13.709/2018.
  </p>
  <p>
    Fica permitido às CONTROLADORAS manter e utilizar os dados pessoais do INSCRITO durante toda a
    realização do certame, para as finalidades descritas neste termo e no seu Regulamento e, ainda,
    após o término do Concurso para cumprimento da obrigação legal ou imposta por órgãos de
    fiscalização, nos termos do artigo 16 da Lei 13.709/2018.
  </p>
  <p>
    O INSCRITO fica ciente que a eliminação dos dados pessoais ocorrerá após o término do concurso,
    salvo os dados pessoais do ganhador, que poderão ser usados por até 5 (cinco) anos.
  </p>
</div>
{% endblock %}